@import '../App.scss';

body{
    background: $Color-Fondo;
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $Source-Pro;
    font-weight: $weight3;
    color: white;
    height: 100vh;
}