@import "../App.scss";

body {
  background: $Color-Fondo center fixed;
  height: 100%;
}

.home {
  display: flex;
  font-family: $Source-Pro;
  font-weight: $weight3;
  color: white;
  height: 100vh;
}
