@import "../App.scss";

.Home__container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  font-family: $Source-Pro;
  font-weight: $weight3;
  color: white;
}

.Content__section{
  width: calc(100% - 200px);
  height: 100%;
  right: 0;
  position: fixed;
  overflow: auto;
  background: linear-gradient(179.72deg, #220110 73.84%, #450220 108.97%);
}

.Content__section::-webkit-scrollbar{
  display: none;
}
