@import "../App.scss";

.music_player{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    font-family: $Source-Pro;
    font-weight: $weight3;
    color: white;
}

.content{
    width: calc(100% - 200px);
    height: calc(100% - 70px);
    padding: 20px;
    right: 0;
    position: fixed;
    overflow: auto;
    background: linear-gradient(179.72deg, #220110 73.84%, #450220 108.97%);
}

.content::-webkit-scrollbar{
    display: none;
}