@import '../App.scss';

body{
    background: $Color-Fondo;
    height: 100%;
}

.mainSignIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $Source-Pro;
    font-weight: $weight3;
    color: white;
    height: 100vh;
    img {
        width: 224px;
        margin-bottom: 40px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
            margin-left: 20px;
        }
        input {
            @include Input(42vmax, 44px, 14px, 25px)
        }
        &--sesion {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            border: 1px solid yellow;
            input {
                @include Button(35px, 20px);
            }
        }
        &--Register {
            cursor: pointer;
            @include Button(161px, 44px);
        }
        &--link {
            display: flex;
            flex-direction: column;
            a {
                color: white;
                text-align: center;
                margin-bottom: 17px;
            }
        }
    }
}