@import '../App.scss';

.animationContainer{
    background: $Color-Fondo center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.animationContainer img{
    width: 40vw;
}